$primary-color: #8B44EE;
$warning-background-color:  #ff3019;
$good-background-color:#b4e391;

$light-background: #f5f5f5;
$color-white: #ffffff;
$light-text: #fff;
$primary-color-hover: #0056b3;
$color-grenn: #4aa306;
$background-color: #f2f2f2;
$contrast-background: #000;
$contrast-color: #fff;
$text-color: #333;