@use'./color.scss';

img {
    max-width: 100%;
}  
video {
    max-width: 100%;
}

body {
    
    margin: 1rem;
    box-sizing: border-box;
}

*:focus-visible{
    transform: scale(1.2);
    outline: 4px solid color.$color-grenn;
    font-size: 1.3em;
}
.error-message{
    background-color: color.$warning-background-color;
    background-image: url('./images/warning.jpg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    color: color.$color-white;
    font-weight: bolder;
    padding: 1.5rem;
    padding-right: 8rem;
    border-radius: 0rem 1.5rem 0rem 1.5rem;
}
.good-message{
    background-color: color.$good-background-color;
    font-weight: bolder;
    padding: 1.5rem;
    border-radius: 0rem 1.5rem 0rem 1.5rem;
 
}
