.homeHeader-container {
    text-align: center;
    margin: 2rem;
}

.homeHeader-box {
    margin: 0.5rem;
}

.homeHeader-item-title {
    font-size: 2em;
}

.homeHeader-card {
    margin: 0.5rem;
}


.homeMain-container {
    margin: 0.5rem; 
}

.homeMain-item-title {
    font-size: 1.8em;
    text-align: center;
}

.homeMain-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.homeMain-card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 1rem;
    min-width: 12rem;

    &-item-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
            
        }
    }

}