.formSearch-container{
    margin: 0.5rem;
}
.formSearch-box{
    margin: 0.5rem; 
}
.formSearch-card{
    margin: 0.5rem; 
}
.formSearch-item{
    margin: 0.5rem;
    &-input{
        margin: 0.5rem;
    } 
    &-button{
        margin: 0.5rem;
    }
}